@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px;
  }
}
body {
  background: rgb(1, 148, 141);
}
div#root {
  font-family: 'Montserrat' !important;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: hsla(177, 100%, 38%, 1);
  /* border: 2px solid black; */
}
